_site
.jekyll-cache
.bundle
Gemfile
Gemfile.lock
.gitattributes
_site/blog.html
_site/publications.html
_site/blog.html
_site/index.html
_site/blog.html
_site/blog.html
_site/extras.html
_site/index.html
_site/projects.html
_site/publications.html
