---
layout: default
title: Projects
---


<h1>{{site.data.projects.Research.Title}}</h1>
<p>{{site.data.projects.Research.SectionDescription}}</p>
{% for projects in site.data.projects.Research.Sub %}
	<hr>
	<div class="row">
		<div class="col-md-4">
			<img src={{projects.ImgSrc}} alt="Image" style="margin-top: 10px;">
		</div>
		<div class="col-md-8">
			<h3>{{projects.Title}}</h3>
			<h4>{{projects.StartDate}} - {{projects.EndDate}}</h4>
			<h4>Guide: <a href={{projects.GuideLink}}>{{projects.Guide}}</a>, {{projects.Institution}}
			{% if projects.Guide2 %}
				<br>
				Guide: <a href={{projects.Guide2Link}}>{{projects.Guide2}}</a>, {{projects.Guide2Institution}}
			{% endif %}
			</h4>
			<p>{{projects.ProjectDescription}}</p>
			{% if projects.ReportLink %}
				Report: <a href={{projects.ReportLink}}>{{projects.Title}}</a>
			{% endif %}
		</div>
	</div>
{% endfor %}


<div style="margin-top: 6em; margin-bottom: 6em"><hr class="ProjectsDivider"></div>


<h1>{{site.data.projects.Technical.Title}}</h1>
<p>{{site.data.projects.Technical.SectionDescription}}</p>
{% for projects in site.data.projects.Technical.Sub %}
<hr>
	<div class="row">
		<div class="col-md-8">
			<h3>{{projects.Title}}</h3>
			<h4>{{projects.StartDate}} - {{projects.EndDate}}</h4>
			<h4>Chief Advisor: <a href={{projects.GuideLink}}>{{projects.Guide}}</a>, {{projects.Institution}}</h4>
			<p>{{projects.ProjectDescription}}</p>
			{% if projects.ReportLink %}
				Report: <a href={{projects.ReportLink}}>{{projects.Title}}</a>
			{% endif %}
		</div>
		<div class="col-md-4">
			<img src={{projects.ImgSrc}} alt="Image" style="margin-top: 10px">
		</div>
	</div>
{% endfor %}


<div style="margin-top: 6em; margin-bottom: 6em"><hr class="ProjectsDivider"></div>


<h1>{{site.data.projects.Misc.Title}}</h1>
<p>{{site.data.projects.Misc.SectionDescription}}</p>
{% for projects in site.data.projects.Misc.Sub %}
<hr>
	<div class="row">
		<div class="col-md-4">
			<img src={{projects.ImgSrc}} alt="Image" style="margin-top: 10px">
		</div>
		<div class="col-md-8">
			<h3>{{projects.Title}}</h3>
			<h4>{{projects.StartDate}} - {{projects.EndDate}}</h4>
			<h4>Chief Advisor: <a href={{projects.GuideLink}}>{{projects.Guide}}</a>, {{projects.Institution}}</h4> 
			<p>{{projects.ProjectDescription}}</p>
			{% if projects.ReportLink %}
				Report: <a href={{projects.ReportLink}}>{{projects.Title}}</a>
			{% endif %}			
		</div>
	</div>
{% endfor %}