---
layout: default
title: Publications
---


<h2>{{site.data.publications.JournalPapers.Title}}</h2>
<p>{{site.data.publications.JournalPapers.Description}}</p>
{% for YearNumber in site.data.publications.JournalPapers.YearWise %}
	<h3>{{YearNumber.Year}}</h3>
	<hr>
	{% for pubs in YearNumber.sub %}
		<ul>
			<li>
				{{pubs.Details}}
			</li>
		</ul>
		<hr>
	{% endfor %}
{% endfor %}


<div style="margin-top: 4em; margin-bottom: 4em"><hr class="ProjectsDivider"></div>


<h2>{{site.data.publications.Conferences.Title}}</h2>
<p>{{site.data.publications.Conferences.Description}}</p>
{% for YearNumber in site.data.publications.Conferences.YearWise %}
	<h3>{{YearNumber.Year}}</h3>
	<hr>
	{% for pubs in YearNumber.sub %}
		<ul>
			<li>
				{{pubs.Details}}
			</li>
		</ul>
		<hr>
	{% endfor %}
{% endfor %}

<div style="margin-top: 4em; margin-bottom: 4em"><hr class="ProjectsDivider"></div>


<h2>{{site.data.publications.Other.Title}}</h2>
<p>{{site.data.publications.Other.Description}}</p>
{% for YearNumber in site.data.publications.Other.YearWise %}
	<h3>{{YearNumber.Year}}</h3>
	<hr>
	{% for pubs in YearNumber.sub %}
		<ul>
			<li>
				<a href={{pubs.ReportUrl}}>{{pubs.Title}}</a> ({{pubs.Description}})
			</li>
		</ul>
		<hr>
	{% endfor %}
{% endfor %}
