---
layout: default
title: Publications
---

{% for item in site.data.publications.JournalPapers %}
	<h2>{{item.Title}}</h2>
	<p>{{item.Description}}</p>
	{% for YearNumber in item.YearWise %}
		<h3>{{YearNumber.Year}}</h3>
		{% for pubs in YearNumber.sub %}
			<ul>{{pubs.Details}}</ul>
		{% endfor %}
	{% endfor %}
{% endfor %}

<div style="margin-top: 4em; margin-bottom: 4em"><hr class="ProjectsDivider"></div>

{% for item in site.data.publications.Conferences %}
	<h2>{{item.Title}}</h2>
	<p>{{item.Description}}</p>
	{% for YearNumber in item.YearWise %}
		<h3>{{YearNumber.Year}}</h3>
		{% for pubs in YearNumber.sub %}
			<ul>{{pubs.Details}}</ul>
		{% endfor %}
	{% endfor %}
{% endfor %}

<div style="margin-top: 4em; margin-bottom: 4em"><hr class="ProjectsDivider"></div>

{% for item in site.data.publications.Other %}
	<h2>{{item.Title}}</h2>
	<p>{{item.Description}}</p>
	{% for YearNumber in item.YearWise %}
		<h3>{{YearNumber.Year}}</h3>
		{% for pubs in YearNumber.sub %}
			<ul>{{pubs.Details}}</ul>
		{% endfor %}
	{% endfor %}
{% endfor %}